<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сервис интеграции</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Мы живем за великой стеной-->
    <link rel="stylesheet" href="asserts/bootstrap/css/bootstrap.min.css">
    <script src="asserts/jquery-3.3.1.min.js"></script>
    <script src="asserts/bootstrap/js/bootstrap.min.js"></script>
    <script src="asserts/angular.min.js"></script>

    <script type="text/javascript">
        var app = angular.module("DMZ_App", []);
        //Controller Part
        app.controller("DMZController", function ($scope, $http) {
            //Initialize page with default data which is blank in this example
            $scope.correlationId = [];
            $scope.form = {
                id: -1,
                name: ""
            };
            //Now load the data from server
            _refreshPageData();
            //HTTP POST/PUT methods for add/edit fruits
            $scope.update = function () {
                var method = "";
                var url = "";
                var data = {};
                if ($scope.form.id == -1) {
                    //Id is absent so add fruits - POST operation
                    method = "POST";
                    url = '/api/fruits';
                    data.name = $scope.form.name;
                } else {
                    //If Id is present, it's edit operation - PUT operation
                    method = "PUT";
                    url = '/api/fruits/' + $scope.form.id;
                    data.name = $scope.form.name;
                }
                $http({
                    method: method,
                    url: url,
                    data: angular.toJson(data),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(_success, _error);
            };
            //HTTP POST/PUT methods for add/edit fruits
            $scope.test1 = function () {
                $http({
                    method: 'GET',
                    url: '/dmz-api/getDataFromDmz',
                }).then(function successCallback(response) {
                    $scope.correlationId = response.data.correlationId;
                    $scope.requestTextMessage = response.data.textMessage;
                }, function errorCallback(response) {
                    console.log('Error');
                });
            };

            $scope.test2 = function (corId) {
                $http({
                    method: 'GET',
                    url: '/dmz-api/resultId/'+corId,
                }).then(function successCallback(response) {
                    $scope.correlationId = response.data.correlationId;
                    $scope.responseTextMessage = response.data.textMessage;
                }, function errorCallback(response) {
                    console.log('Error');
                });
            };
            //HTTP DELETE- delete fruit by id
            $scope.remove = function (fruit) {
                $http({
                    method: 'DELETE',
                    url: '/api/fruits/' + fruit.id
                }).then(_success, _error);
            };
            //In case of edit fruits, populate form with fruit data
            $scope.edit = function (fruit) {
                $scope.form.name = fruit.name;
                $scope.form.id = fruit.id;
            };
            /* Private Methods */
            //HTTP GET- get all fruits collection
            function _refreshPageData() {
                $http({
                    method: 'GET',
                    url: '/health/hello'
                }).then(function successCallback(response) {
                    $scope.fruits = response.data;
                }, function errorCallback(response) {
                    console.log(response.statusText);
                });
            }
            function _success(response) {
                console.log('success!');
                _refreshPageData();
                _clearForm()
            }
            function _error(response) {
                console.error(response.statusText);
            }
            //Clear the form
            function _clearForm() {
                $scope.form.name = "";
                $scope.form.id = -1;
            }
        });
    </script>




</head>

<body ng-app="DMZ_App" ng-controller="DMZController">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Сервис интеграции через DMZ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Описание<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Тесты</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<p>
<div class="container-fluid">
    <form
          class="form-inline">

        <input class="form-control mr-sm-2" type="search" placeholder="Введите сообщение" aria-label="запрос">
        <button ng-click="test1()"
                class="btn btn-outline-success my-2 my-sm-0"
                >Отправить
        </button>
        <p></p>
        <p>RESULT: {{requestTextMessage}}</p>
        <p>CORRELATION_ID RES: {{correlationId}}</p>
        <button ng-click="test2(correlationId)" class="btn btn-outline-success my-2 my-sm-0" type="submit">Получить ответ</button>
        <p>RESPONSE: {{responseTextMessage}}</p>
    </form>
</div>

</p>

</body>
</html>